@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.v-application {
[class*="text-"] {
    color: #36405a;
    font-family: Poppins, sans-serif !important;
}
    font-family: Poppins, sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}