@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

.font-poppin {
    font-family: 'Poppins', sans-serif !important;
}

.font-adamina {
    font-family: 'Adamina', serif !important;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}